
/*style for body and main section */
body{
    background-color: #e4f0fa;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    color: #7888a2;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.section_main{
  	background-image: url(http://pixner.net/simarto/demo/assets/images/banner/banner.png);
   	display:block;
    width:95%;
    height:100%;
    animation: bgScroll 20s linear infinite;
    background-position: center;
    background-size: auto;
    filter: contrast(0.1);
    z-index: 0;
    margin-left: 5%;
}

/*style for background image animation */
@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px 808px
  }
}

/*style for side nav*/
.section_side{
    background-color: #e4f0fa;
    height: 100%;
    width: 5.5%;
    position: absolute;
    box-shadow: 3px 3px 10px -6px #232526;
    transition: 1s;
    z-index:2
}

.menu_section ul li i, .menu_section ul li img{
    border: 1px solid #a5a5a542;;
    /*box-shadow: 3px 3px 8px -2px;*/
    box-shadow: 3px 3px 10px -6px #232526;
}

.social, .menu_section{
    position: absolute;
    bottom: 5;
    width: 100%;
}
.social ul, .menu_section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social ul li, .menu_section ul li{
    display: block;
    margin: 5px;
    text-align: center;
    transition: all 1s;
    padding: 2px 0px;
}

.social ul li a, .menu_section ul li a{
    color: #fff;
    text-decoration: none;
}
.social ul li i, .menu_section ul li i, .menu_section ul li img {
    text-align: center;
    color: #c1c4c5;
    padding: 10px;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    font-size: 21px;
    transform: rotate(0deg);    
}
.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1.5s;
}

/*inside half circle*/
.half_circle{
    height: 100%;
    width: 50%;
    float: right;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    margin-left: 50%;
}
.sub_half_circle{
    background-color: #e4f0fa;
    height: 130%;
    width: 90%;
    float: right;
    border-radius: 99% 0px 0px 100%;
    margin-top: -75px;
    border: 10px solid #8784840d;
    border-style: double;
    transition: 1s;
}

/*header section*/
.section_header{
    position: absolute;
    /*background-color: #ab353524;*/
    height: 15%;
    width: 95%;
    bottom: 0px;
    margin-left: 5%;
    overflow: hidden;
    top: 0px;
    display: flex;
    z-index:2
}
.section_header .header_logo {
    height: 85%;
    overflow: hidden;
    width: 20%;
    margin-left: 2%;
}
.section_header .header_logo img{
    height: 100%;
    width: 60%;
    max-width: 100%;
    cursor: pointer;
}

.section_header .header_logo .logo_dark{
    display: none;
}

.header_icons_main{
    width: 80%;
    padding: 3px 100px;
}
.header_icons_main .header_icons{
    display: flex;
    max-width: 500px;
    width: 200px;
    /*background-color: antiquewhite;*/
    align-items: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    float: right;

}
.head_icon_search, .head_icon_edit{
    border: 1px solid #a5a5a542;
    padding: 13px 15px;
    border-radius: 50%;
    /*box-shadow: 10px 5px 20px -5px #b6b8b9;*/
    box-shadow: 3px 3px 10px -6px #232526;
    cursor: pointer;
}

/*dark and light mode*/
.mode_changer{
    width: 100%;
    position: absolute;
    top: 30%;
    overflow: hidden;
    /*background-color: antiquewhite;*/
    display: flex;
    align-items: center;
    justify-content: right;
    z-index:2
}
.mode_changer .sub_mode_changer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.mode_changer .sub_mode_changer .dark_light{
    padding: 10px;
    border: 1px solid #a5a5a542;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #e4f0fa;
    /*box-shadow: 0px 0px 6px -2px #7a7a7a;*/
    box-shadow: 3px 3px 10px -6px #232526;
    display: flex;
    transition: 1s;
}

.mode_changer .sub_mode_changer .dark_light .dark button, .mode_changer .sub_mode_changer .dark_light .light button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    /*box-shadow: 8px 8px 10px -3px grey;*/
    box-shadow: 3px 3px 10px -6px #232526;
    background-color: #e4f0fa;
    cursor: pointer;
    border: 1px solid #a5a5a542;
    color: #f17331;
    font-family: "Josefin Sans", sans-serif;
}

.mode_changer .sub_mode_changer .dark_light .dark button{
    background-color: #030332;
    transition: 1s;
}

.mode_changer .sub_mode_changer button{
    padding: 10px;
    border: 0.5px solid #a5a5a542;
    border-radius: 10px;
    background-color: #e4f0fa;
    /*box-shadow: 0px 0px 6px -2px #7a7a7a;*/
    box-shadow: 3px 3px 10px -6px #232526;
    cursor: pointer;
}

.mode_changer .sub_mode_changer button i{
    font-size: 25px;
    color: #ff8100;
}

.fa-cog {
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*style for sliders*/
.section_slider{
    position: absolute;
    /*background-color: #00000054;*/
    height: 100%;
    width: 97.5%;
    bottom: 0px;
    margin-left: 2.5%;
    overflow: hidden;
    z-index: 1;
}

/*stylr for content section*/
.sub_slider_section{
  display: flex;
  width:100%;
  height:auto;
  overflow: hidden;
}
.content_section{
  /*background-color: #ffe4c485;*/
  height: 100vh;
  width: 40%;
  margin-top: 4%;
}
.content_section h2, .content_section h3 span{
    /*margin-top: 17%;*/
    font-family: "Fredericka the Great", cursive;
    font-weight: 500;
    clear: both;
    line-height: 1.2em;
    font-size: 50px;
    color: #7888a2;
    text-transform: uppercase;
    text-shadow: 0px 13px 12px rgb(90 117 220 / 31%);
    transform: scaleY(1.1);
    padding-left: 30px;
    margin-bottom: 25px;
}
.content_section p{
    color: #7888a2;
    font-size: 19px;
    text-transform: unset;
    font-weight: 400;
    width: 70%;
    margin-bottom: 15px;
    line-height: 1.8em;
    font-family: "Josefin Sans", sans-serif;
    padding-left: 30px;
    margin-top: 0px;
}
.color_purple{
    color: #7888a2;
}
.color_orange{
    color: #f78e58;
}

.nav_btn_section{
    /*position: absolute;
    bottom: 20px;*/
}

.page_navigation{
      padding: 30px 40px 0px 30px;
}


.page_nav_active{
    color: transparent;
    -webkit-text-stroke: 1px #f78e58;
    font-size: 46px !important;
}

.page_navigation span{
    width: 70px;
    height: 40px;
    position: relative;
    font-size: 28px;
    z-index: 9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    outline: none;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.banner_buttons{
    padding: 20px 40px;
    margin-top: 50px;
    background-color:transparent;
}

.banner_buttons .view_btn, .banner_buttons .order_btn{
    background-color: #e4f0fa;
    color: #7888a2;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 5px 5px 25px -15px #080808;
    display: inline-block;
    font-size: 15px;
    border-radius: 50px;
    border: 0.5px solid #f7f7f700;
    padding: 20px 30px;
    overflow: hidden;
    z-index: 99;
    margin-right: 20px;
    font-family: inherit;
    cursor: pointer;
}
.banner_buttons .view_btn:hover, .banner_buttons .order_btn:hover {
    background-color: #e4f0fa;
    color: #7888a2;
    box-shadow: -5px -5px 25px -15px #080808;
}


/*styel for  image section*/
.image_section{
    /*background-color: #aedee385;*/
    height: 95vh;
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-top: -20px;
}

.man_dish_image1, .man_dish_image2, .man_dish_image3, .man_dish_image4, .man_dish_image5{
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.image_section img{
    height: auto;
    width: -webkit-fill-available;
    /*filter: drop-shadow(55px 100px 230px #3d3e3e);*/
}
.offer_popup{
    position: absolute;
    top: 65px;
    margin-left: 50%;
    width: 13%;
    animation-name: shake;
    animation-duration:5s;
    animation-iteration-count: infinite;
}
.offer_popup img{
    height: auto;
    width: 100% !important;

}
@keyframes shake{
  0%{top: 55px;}
  25%{top: 75px;}
  50%{top: 55px;}
  75%{top: 75px;}
  100%{top: 55px;} 
}

/*style for manual*/
.dark_mode{
  background-color: #2d2e44 !important;
  transition: 1s;
  /*border: 10px solid #37404836 !important;*/
  /*box-shadow: -2px 0px 10px 1px #383737 !important;*/
}
.dark_mode_btn{
  background-color:#e4f0fa !important;
  transition: 1s;
}

.border_bot__icon{
  border-bottom: 2px solid #a5a5a542;
}
.top_60{
  top: 60px;
}
.main_dark_light{
     margin-right: -210px;
     transition: 1s;
}

.mar_r_210{
  /*display: none;*/
  margin-right:0px;
  transition: 1s;
}

.color_dark{
    color: #c1c4c5 !important;
}
.visible{
    display: block !important;
}
.hidden{
    display: none;
}